<header>
  <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
  <div class="logo-display">
        <img src="/images/logo.png" class="logo"><h1 class="site-title"><a href="/">link</a></h1>
  </div>

  <a href="/new_post.html"><img src="/images/plus.png"></a>

  <nav class="navbar">
    <ul class="navlist">
      <!-- <li class="navitem navlink active" id="dates"><a href="#">Dates</a></li> -->
      <li class="navitem navlink" id="price"><a href="#">Price</a></li>
      <li class="navitem navlink" id="major"><a href="#">Major</a></li>
      <li class="navitem navlink" id="year"><a href="#">Year</a></li>

      <!-- <li class="navitem navlink" id="renttype"><a href="#">RentType</a></li>
      <li class="navitem navlink" id="gender"><a href="#">Gender</a></li><li class="navitem navbar-search"> -->
      </li>
    </ul>
  </nav>
</header>
