<header>
  <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
  <a href="#"><h1 class="site-title">amam</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink active" id="dates"><a href="#">Dates</a></li>
      <li class="navitem navlink" id="price"><a href="#">Price</a></li>

      <li class="navitem navlink" id="renttype"><a href="#">RentType</a></li>
      <li class="navitem navlink" id="gender"><a href="#">Gender</a></li><li class="navitem navbar-search">
      </li>
    </ul>
  </nav>
</header>
