.welcome-to-site {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
  color: black;
  border-bottom: 5px solid #FF4500;
}
body {
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  background-color: #eee;
}
a {
  text-decoration: none;
}
p {
  margin-left: 5%;
  margin-top: 1%;
  font-weight: bold;
  font-style: italic;
}

.accept-button {
  margin-left: 5%;
  margin-top: 1%;
  font-weight: bold;
}
.prompt {
  margin-left: 5%;
  margin-top: 1%;
  font-weight: bold;
}
.box {
  margin-left: 5%;
  margin-bottom: 1%;
  font-weight: bold;
  flex: 0 1 28%;
  display: flex;
}

/* #attribution-input {
  flex: wrap;
  margin-left: 80%;
} */
