<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>link</title>

    <!-- This is a 3rd-party stylesheet to make available the font family to be used for this page ("Rajdhani"). -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/detailsStyle.css" media="screen">
    <link rel="stylesheet" href="/style.css" media="screen">
    <link rel="icon" href="/images/logo.png">

    <script src="/index.js" charset="utf-8" defer></script>

  </head>
  <body>

    {{> header}}

    {{{body}}}

  </body>
</html>
