html,body{
    height: 100%;
    width: 100%;
}

#myVideo {
    position: relative;
    margin: none;
    padding: none;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Signup-Box{
    display: flex;
    position: fixed;
    top: -5%;
    background-color: rgba(255, 221, 0, 0.5);
    height: 550px;
    width: 550px;
    margin-left: 100px;
    margin-right:  100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.Signup-Box-Content{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 8%;
}
.signup-header{
    font-family: 'Roboto', sans-serif;
    color: hsla(0, 0%, 0%, 0.9);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 3%;
    width: 650px;
    height: 50px;
}
.field{
    font-weight: 900;
    font-style: 1200;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.input-box {
    display: flex;
    margin-left: 10%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-weight: bold;
    flex: 0 1 5%;
    height: 20px;
    width: 350px;
    background-color: rgba(255, 221, 0, 1);
    border: none;
}
.unit{
    padding: 8%;
}
.sign-up-button{
    position: absolute;
    top: 40%;
    left: -1.5%;
    height: 100px;
    width: 200px;
    margin-left: 70%;
    background-color: rgba(255, 221, 0, 1);
    border-color: rgba(255, 221, 0, 1);
}

.option{
    color: hsla(0, 0%, 0%, 0.9);
    font-family: 'Roboto', sans-serif;
}

#dropdown-content{
    height: 23px;
    width: 350px;
    margin-left: 10%;
    margin-top: 1.2%;
    margin-bottom: 1.2%;
    font-weight: bold;
    flex: 0 1 13%;
    display: flex;
    background-color: rgba(255, 221, 0, 1);
    border-color: rgba(255, 221, 0, 1);
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: none;
}
